.EventModalContainer {
  position: absolute;
  width: 600px;
  flex-direction: column;
  height: 440px;
  border-radius: 0.25rem;
  box-shadow: 0 20px 25px -5px rgba(0, 0, 0, 0.1),
    0 10px 10px -5px rgba(0, 0, 0, 0.04);
}

.EventModalOverlay {
  background-color: rgba(11, 13, 30, 0.8);
  flex: flex;
  align-items: center;
  justify-content: center;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}
